/* Education.css */
.education {
    padding: 40px 20px;
    background-color: #ffffff;
}

.education h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.education ul {
    list-style-type: none;
    padding: 0;
}

.education li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.education strong {
    color: #007acc;
}